
// color Palette
// ----------------------------
// white smoke
$colorWhite: #F7F4F3; 
// black olive
$colorBlack: #3b413c;
// cambridge blue
$colorBlue: #9db5b2;
$hoverBlue: #8eb6b1;
// pearl aqua
$colorAqua: #94d1be;
// dark gunmental 
$colorDark: #232528

// ----------------------------
